In [1]:
import pandas as pd
import numpy as np
import great_expectations as ge

pd.set_option('display.max_columns', None)

In [2]:
output_path = '../data/intermediate/credito_report1.html'
data_validation_report = '../data/intermediate/credito_report2.html'

In [3]:
df_credito = pd.read_csv('../data/raw/xxxxxxxxxxxx.csv', sep=';')

df_credito.head()

,id,valor_principal,valor_protestar,vencimento_original,numero,data_emissao,numero_cda,especie_id,praca_pagamento_id,status_credito_id,data_cadastro,valor_honorario,execucao_fiscal,numero_processo,observacao,natureza_id,natureza_detalhe,numero_auto_infracao,data_lavratura,receita_id,valor_atualizado,numero_origem,valor_juros_atualizado,valor_multa_atualizado,data_atualizado,status_inscricao_divida_complemento_id,origem_dados_id,livro,termo,folha,indicado_ajuizamento,valor_juros_original,valor_multa_original,valor_correcao_original,status_boleto_honorarios,id_boleto_honorarios,mensagem_boleto_honorarios,vencimento_boleto_honorarios,placa_veiculo_virtual,renavam_virtual
0,1,18939.06,28738.79,2018-02-27,20180200006,2018-02-27,20180200006228,9,1100304.0,2,2019-03-25,NaN,NaN,NaN,NaN,23.0,DÍVIDA ATIVA NÃO TRIBUTÁRIA - § 2º DO ARTIGO 3...,NaN,NaN,5511.0,28738.79,20180300059624,4105.53,4105.54,2019-10-03,15.0,50517.0,25533.0,271.0,271.0,NaN,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2,1674.61,2559.24,2017-09-04,20170200014,2017-09-04,20170200014410,9,1100346.0,8,2019-04-04,0.0,NaN,NaN,NaN,23.0,DÍVIDA ATIVA NÃO TRIBUTÁRIA - § 2º DO ARTIGO 3...,NaN,NaN,5511.0,0.00,20170300146937,0.00,0.00,2022-11-22,11.0,8259344.0,25437.0,99.0,99.0,NaN,50.23,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,3,6629.43,9341.16,2018-11-06,20180200054,2018-11-06,20180200054202,9,1100346.0,8,2019-04-04,NaN,NaN,NaN,NaN,23.0,DIVIDA ATIVA NAO TRIBUTARIA 2 DO ARTIGO 39 DA ...,NaN,NaN,5511.0,0.00,20180300496307,0.00,0.00,2022-08-12,11.0,6634309.0,25693.0,244.0,244.0,NaN,132.58,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,4,6629.43,9197.45,2018-11-06,20180200054,2018-11-06,20180200054204,9,1100346.0,9,2019-04-04,0.0,NaN,NaN,NaN,23.0,DIVIDA ATIVA NAO TRIBUTARIA 2 DO ARTIGO 39 DA ...,NaN,NaN,5511.0,0.00,20180300496323,0.00,0.00,2022-11-24,15.0,1670832.0,25693.0,246.0,246.0,NaN,132.58,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,5,6629.43,9197.45,2018-11-06,20180200054,2018-11-06,20180200054205,9,1100346.0,8,2019-04-04,0.0,NaN,NaN,NaN,23.0,DIVIDA ATIVA NAO TRIBUTARIA 2 DO ARTIGO 39 DA ...,NaN,NaN,5511.0,0.00,20180300496331,0.00,0.00,2023-01-20,2.0,5968871.0,25693.0,247.0,247.0,NaN,132.58,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df_credito.describe()

,id,valor_principal,valor_protestar,especie_id,praca_pagamento_id,status_credito_id,valor_honorario,execucao_fiscal,numero_processo,natureza_id,numero_auto_infracao,data_lavratura,receita_id,valor_atualizado,valor_juros_atualizado,valor_multa_atualizado,status_inscricao_divida_complemento_id,origem_dados_id,indicado_ajuizamento,valor_juros_original,valor_multa_original,valor_correcao_original,status_boleto_honorarios,id_boleto_honorarios,renavam_virtual
count,1.778275e+06,1.778275e+06,1.778275e+06,1778275.0,1.746052e+06,1.778275e+06,4.240430e+05,0.0,0.0,1.592719e+06,0.0,0.0,1.752975e+06,1.778275e+06,1.778275e+06,1.778275e+06,1.766162e+06,1.767013e+06,178.000000,1.778275e+06,1.778275e+06,1.778275e+06,1.519628e+06,44397.000000,1.045484e+06
mean,9.416576e+05,3.003479e+06,1.059504e+04,9.0,1.100183e+06,3.259631e+00,1.173768e+03,NaN,NaN,1.463729e+01,NaN,NaN,5.549110e+03,1.110201e+04,4.751947e+03,3.893192e+02,3.686396e+00,7.733683e+06,0.983146,1.059433e+07,1.505022e+05,3.813122e+04,9.396708e-02,174544.865622,6.380606e+08
std,5.262785e+05,3.101259e+09,8.427984e+05,0.0,1.492268e+02,2.371261e+00,1.030500e+05,NaN,NaN,3.072233e+00,NaN,NaN,1.009066e+03,8.735957e+05,4.281017e+05,1.995842e+04,5.018802e+00,4.055737e+06,0.129087,8.118479e+09,1.145729e+08,4.017765e+07,5.462156e-01,37409.533414,3.835635e+08
min,1.000000e+00,-5.258000e+03,0.000000e+00,9.0,1.100015e+06,2.000000e+00,-1.163000e+01,NaN,NaN,1.300000e+01,NaN,NaN,1.512000e+03,-1.162500e+02,-1.427000e+01,-4.850000e+00,1.000000e+00,1.040000e+02,0.000000,-5.071000e+01,-1.010000e+00,-1.998001e+06,0.000000e+00,112476.000000,1.000000e+01
25%,4.842945e+05,5.682000e+01,4.995000e+01,9.0,1.100114e+06,2.000000e+00,0.000000e+00,NaN,NaN,1.400000e+01,NaN,NaN,5.218000e+03,2.075000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.123477e+06,1.000000,6.010000e+00,7.980000e+00,0.000000e+00,0.000000e+00,135996.000000,2.830994e+08
50%,9.494660e+05,9.104000e+01,1.179200e+02,9.0,1.100205e+06,2.000000e+00,0.000000e+00,NaN,NaN,1.400000e+01,NaN,NaN,5.218000e+03,1.095900e+02,3.340000e+00,2.010000e+00,1.000000e+00,7.559423e+06,1.000000,1.708000e+01,1.524000e+01,6.450000e+00,0.000000e+00,187396.000000,7.843471e+08
75%,1.398164e+06,3.518450e+02,4.290800e+02,9.0,1.100205e+06,2.000000e+00,1.194000e+01,NaN,NaN,1.400000e+01,NaN,NaN,5.218000e+03,3.763200e+02,5.671000e+01,2.720000e+01,2.000000e+00,1.238698e+07,1.000000,4.147000e+01,3.195000e+01,1.641000e+01,0.000000e+00,206539.000000,9.156689e+08
max,1.844047e+06,4.067683e+12,5.306181e+08,9.0,1.101492e+06,2.000000e+01,4.823801e+07,NaN,NaN,2.600000e+01,NaN,NaN,9.902000e+03,4.823801e+08,2.582763e+08,2.219991e+07,2.300000e+01,1.407885e+07,1.000000,8.538293e+12,1.190006e+11,5.306652e+10,4.000000e+00,232725.000000,2.019511e+10

In [5]:
# passando colunas para minúsculo
df_credito.columns = [col.lower() for col in df_credito.columns]

data_path = df_credito
df_raw = ge.from_pandas(data_path)

In [1]:
data_path.info()

NameError: name 'data_path' is not defined

In [7]:
# Colunas requeridas, conforme dataframe novo
required_cols = [
    xxxxxxx
]

# Colunas não nulas, conforme dataframe novo
not_be_null_cols = [
    xxxxxxxxxxxxxx
]

# Data
date_col_name = [
    xxxxxxxxxx
]
date_col_format = '%Y-%m-%d'

# tipos de dados
type_cols = {
    qqqqqqqqqq
}

cols_above_zero = [
 qqqqqqqqqqqqq
]

In [8]:
## Criando expectativas
# Conferindo existência de colunas
for col in required_cols:
        df_raw.expect_column_to_exist(column=col)

# Conferindo valores não nulos em colunas
if not_be_null_cols is not None:
        for col_name in not_be_null_cols:
            df_raw.expect_column_values_to_not_be_null(col_name, mostly=0.9)

# validando data
# if (date_col_name is not None) and (date_col_format is not None):
#          df_raw.expect_column_values_to_match_strftime_format(
#             date_col_name, date_col_format, mostly=0.9
#        )

# Conferindo tipos de dados nas colunas
for col_name, col_type in type_cols.items():
        df_raw.expect_column_values_to_be_of_type(col_name, col_type)

# Conferindo colunas com valores maiores que 0
for col in cols_above_zero:
         df_raw.expect_column_values_to_be_between(col, min_value=0, max_value=np.inf)

# # Checando colunas únicas
# for col_name in unique_cols:
#     df_raw.expect_column_values_to_be_unique(col_name)


## Validando resultados
valid_result = df_raw.validate()
if valid_result["success"] is True:
    status = "True"
else:
    status = "False"

# Printando status
status

'False'

In [9]:
valid_report = ge.render.renderer.ValidationResultsPageRenderer().render(
        valid_result
    )

with open(data_validation_report, "w", encoding="utf-8") as writer:
        writer.write(ge.render.view.DefaultJinjaPageView().render(valid_report))